* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: darkolivegreen;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    text-align: center;
    padding: 40px 35px;
    width: 90%;
    max-width: 480px;
    background-color: rgb(120, 179, 175);
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.search input {
    width: 70%;
    border: none;
    outline: none;
    flex: 1;
    background: #ebfffc;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 25px;
    color: #333;
}

.search button {
    border: none;
    outline: none;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;
}

.search button:hover {
    background: #d4f9f3;
}

.search button img {
    width: 18px;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
    margin: 20px 0;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 28px;
    margin-top: -6px;
}